<!--Main navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">COMP229</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          
          <% if(title=="Home"){ %>
          <a class="nav-link active"  href="/home">  <i class="fas fa-lg fa-laptop-house"></i> </i> Home</a>
           
          <%} else { %>
          <a class="nav-link "  href="/home">  <i class="fas fa-lg fa-laptop-house"></i> </i> Home</a>
          </li>
          <% } %>
            

          <% if(title=="About"){ %>
          <a class="nav-link active"  href="/about"> <i class="fas fa-lg fa-info-circle"></i> </i> About</a>
           
          <%} else { %>
          <a class="nav-link "  href="/about">  <i class="fas fa-lg fa-info-circle"></i> </i> About</a>
          </li>
          <% } %>


       
            
          <% if(title=="Projects"){ %>
          <a class="nav-link active"  href="/projects"> <i class="fab fa-elementor"></i> </i> Projects</a>
           
          <%} else { %>
          <a class="nav-link "  href="/projects">  <i class="fab fa-elementor"></i> </i> Projects</a>
          </li>
          <% } %>


             
          <% if(title=="Services"){ %>
          <a class="nav-link active"  href="/services">  <i class="fas fa-cogs"></i>  </i> Services</a>
           
          <%} else { %>
          <a class="nav-link "  href="/services">   <i class="fas fa-cogs"></i>  </i> Services</a>
          </li>
          <% } %>
            

          
           



          <% if(title=="Contact"){ %>

            <li class="nav-item">
             <a class="nav-link active " href="/contact"> <i class="fas fa-lg fa-mobile"></i>  Contact </a>

          <%} else { %>
          <a class="nav-link " href="/contact"> <i class="fas fa-lg fa-mobile"></i>  Contact </a>
          </li>
          <% } %>
            
      </div>
    </div>
  </nav>


 

